{% extends "cal/defaults/cal.html" %}
{% load i18n %}
{% load filters %}
{% block bodyclass %}colM{% endblock %}

{% block content %}

<center>
	<table cellspacing="0" cellpadding="5" class="calendar">
		<tfoot>
			<tr>
				<td colspan="8" style="text-align: center;">
					{% trans 'View:' %}
					<a href="{% url cal.views.month_view year month %}">{% trans 'Month' %}</a>,
					<a href="{% url cal.views.year_view year %}">{% trans 'Year' %}</a>.
				</td>
			</tr>
		</tfoot>
		<tbody>
			<tr style="height:100px">
				{% for day in days %}
					{% if forloop.first %}
						<td class="left_col"><a href="{% url cal.views.prev_week_view day.0 day.1 day.2 %}" class="arrows">&lt;&lt;</a></td>
					{% endif %}
					<td width="14%" id="daycell_{{ day.0 }}_{{ day.1 }}_{{ day.2 }}" class="day_cell top_row" valign="top">
						<div class="day_header">
							<a href="{% url cal.views.day_view day.0 day.1 day.2 %}" class="day_link">
								{% ifchanged day.0 %}
									{% format_datetime_raw "%b %e, %Y" day.0 day.1 day.2 %}
								{% else %}
									{% format_datetime_raw "%b %e" day.0 day.1 day.2 %}
								{% endifchanged %}
							</a>
						</div>
						<ul>
							{% for event in day.3 %}
								<li id="eventline_{{ event.id }}"><a href="{{ event.get_absolute_url }}" class="event_link">{{ event }}</a> <a href="#" class="remove_link" rel="{{ event.id }}"><img src="{{ MEDIA_URL }}img/admin/icon_deletelink.gif"/></a></li>
							{% endfor %}
						</ul>
					</td>
					{% if forloop.last %}
						<td class="right_col"><a href="{% url cal.views.next_week_view day.0 day.1 day.2 %}" class="arrows">&gt;&gt;</a></td>
					{% endif %}
				{% endfor %}
			</tr>
		</tbody>
	</table>
</center>

{% endblock %}